*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

ul{
    list-style: none;
}

/* prima sezione */
/* contenitore uno */

.container1{
    width: 100%;
    position: relative;
}

.navbar{
    display: inline-block;
    height: 80px;
}

.logo{
    line-height: 100px;
    margin-left: 10px;
}

.lista1{
    line-height: 100px;
    margin-left: 20px;
}

li{
    padding-left: 20px;
    display: inline-block;
}

.lista2{
    display: inline-block;
    line-height: 100px;
    position: absolute;
    right: 120px;
}

.login{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 15px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 30px;
}

/* jumbo */

.jumbo-container{
    max-width: 100%;
    height: 550px;
    background-color: rgb(180, 208, 231);
}

.jumbo{
    max-width: 1200px;
    margin: 0 auto;
}

.titolo{
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
}

.jumbo-box{
    width: 25%;
    margin-top: 20px;
}

.bottone{
    width: 200px;
    background-color: rgb(0, 97, 255);
    color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

#text{
    margin-top: 10px;
}

#text2{
    margin-top: 20px;
    font-size: 40px;
}

.immagine1{
    width: 75%;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    display: inline-block;
    margin-top: 20px;
}

/* seconda sezione */
/* contenitore due */

.container2{
  width: 1000px;
  margin: 0 auto;
  margin-top: 200px;
}

.c2h1{
  margin-bottom: 20px;
}

.c2scritta{
  float: left;
  padding-right: 30px;
  font-weight: bold;
}

.c2scritta2{
  font-weight: bold;
}

.c2cerchio{
  font-size: 25px;
  vertical-align: sub;
  color: rgb(0, 97, 255);
}

.c22{
  color: rgb(208, 208, 211);
}

.box1{
  height: 940px;
  display: inline-block;
  border: 1px solid rgb(208, 208, 211);
  width: calc(100% / 3 - 20px);
  margin-right: 20px;
  margin-top: 30px;
}

.box2{
  height: 940px;
  display: inline-block;
  border: 1px solid rgb(208, 208, 211);
  width: calc(100% / 3 - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.box3{
  height: 940px;
  display: inline-block;
  border: 1px solid rgb(208, 208, 211);
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-top: 30px;
}

.c2box1-1{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(208, 208, 211);
}

.c2box1-2{
  width: 70%;
  margin: 20px auto 30px;
  line-height: 40px;
}

.c2prezzo{
  font-weight: bold;
}

.c2mese{
  color: rgb(185, 192, 198);
  font-size: 14px;
}

.c2ul li{
  width: 80%;
  margin-left: 25px;
  padding-bottom: 20px;
  list-style: none;
}

.c2box1-3{
  background-color: rgb(0, 97, 255);
  width: 70%;
  text-align:center;
  color: white;
  margin: 30px auto;
  padding: 10px;
}

.c2link{
  width: 70%;
  margin: 0 auto;
}

.c2hr{
  width: 50px;
  margin: 30px 45px 30px;
  color:black;
}

.c2box1-4{
  width: 70%;
  margin: 30px auto;
}

.c2box1-5{
  margin: 20px auto;
}

.c2spunta{
  display: inline-block;
  width: 10%;
  color: rgb(2, 98, 255);
}

.c2text5{
  display: inline-block;
  width: 90%;
}

/* contenitore tre */

  .container3{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid rgb(208, 208, 211);
    margin-top: 40px;
  }
  
  .testo{
    text-align: center;
    border-bottom: 1px solid rgb(208, 208, 211);
    padding: 15px;
  }
  
  .boxs{
    display: inline-block;
    width: 70%;
    margin-top: 15px;
    margin-left: 25px;
    line-height: 40px;
  }
  
  .boxd{
    background-color: rgb(0, 97, 255);
    width: 25%;
    text-align:center;
    color: white;
    margin: 30px auto;
    padding: 10px;
  }

  /* contenitore quattro */

  .container4{
    width: 1000px;
    height: 410px;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
  }
  
  .c4immagine{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-image: url("../img/partner.png");
    background-size: cover;
  }

  .c4testo{
      display: inline-block;
      width: 35%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 100px;   
  }

  .c4t{
      margin-top: 40px;
  }

  .c4t2{
      width: 130px;
      border: 1px solid black;
      padding: 10px;
  }

  /* contenitore cinque*/

  .container5{
    width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .c5h1{
      margin-bottom: 20px;
  }
  
  .c5bf{
    width: calc(100% / 3 - 30px);
    margin: 15px;
    height: 500px;
  }

  [class^="c5immagine-"]{
      width: 100%;
      height: 250px;
      background-size: contain;
      background-position: center;
  }

.c5t{
      margin-top: 20px;
  }

.c5immagine-1{
      background-image: url("../img/business-feature-switching-tools.png");
  }

.c5immagine-2{
    background-image: url("../img/business-feature-coordinate-it.png");
}

.c5immagine-3{
    background-image: url("../img/business-feature-multi-device.png");
}

.c5immagine-4{
    background-image: url("../img/business-feature-integrations-it.png");
}

.c5immagine-5{
    background-image: url("../img/business-feature-send-files-it.png");
}

.c5immagine-6{
    background-image: url("../img/business-feature-security.png");
}

/* contenitore sei */

.ts{
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 60px;
}

/* contenitore sette */

.container7{
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  
  .c71{
    display: inline-block;
    width: calc(100% / 3);
    height: 100%;
  }
  
  .c72{
    display: inline-block;
    background-color: rgb(245, 245, 245);
    width: calc(100% / 3);
    height: 100%;
  }
  
  .c73{
    display: inline-block;
    width: calc(100% / 3);
    height: 100%;
  }

  [class^="c7immagine-"]{
      width: 150px;
      position:absolute;
  }

  .c71-1{
    width: 50%;
    height: 50%;
    background-color: rgb(162, 211, 155);
    position: relative;
  }
  
  .c71-2{
    width: 50%;
    height: 50%;
    background-color: rgb(97, 8, 43);
    position: relative;
  }
  
  .c71-3{
    width: 50%;
    height: 50%;
    background-color: rgb(0, 147, 206);
    position: relative;
  }
  
  .c71-4{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 28, 28);
    position: relative;
  }
  
  .c71-5{
    width: 50%;
    height: 50%;
    background-color: rgb(213, 0, 31);
    position: relative;
  }
  
  .c71-6{
    width: 50%;
    height: 50%;
    background-color: rgb(180, 208, 231);
    position: relative;
  }
  
  .c71-7{
    width: 50%;
    height: 50%;
    background-color: rgb(13, 36, 129);
    position: relative;
  }
  
  .c71-8{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 216, 48);
    position: relative;
  }

  /* immagini c7 */

  .c7immagine-1{
    top: 40%;
    left: 15%;
  }

  .c7immagine-2{
    top: 20%;
    left: 20%;
  }

  .c7immagine-3{
    top: 45%;
    left: 14%;
  }

  .c7immagine-4{
    top: 35%;
    left: 16%;
  }

  .c7immagine-5{
    top: 35%;
    left: 18%;
  }

  .c7immagine-6{
    top: 45%;
    left: 16%;
  }

  .c7immagine-7{
    top: 35%;
    left: 16%;
  }

  .c7immagine-8{
    top: 25%;
    left: 18%;
  }

  /* testi c7 */

  .c72logo{
    width: 120px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .c7hr{
    width: 50px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  .c72p{
    margin-top: 50px;
    margin-left: 40px;
    width: 80%;
  }
  
  .c72t{
    margin-top: 30px;
    margin-left: 40px;
  }

  /* contenitore sette-2 sotto */

  .container7-2{
    width: 100%;
    height: 200px;
    background-color: rgb(180, 208, 231);
  }
  
  .c7testo{
    display: inline-block;
    width: 60%;
  }
  
  .c7testo2{
    line-height: 200px;
    text-align: right;
    color: rgb(97, 8, 43);
  }
  
  .c7tasto{
    display: inline-block;
    width: 40%;
  }
  
  .c7tasto2{
    width: 200px;
    margin-top: 80px;
    margin-left: 90px;
    text-align: center;
    background-color: white;
    padding: 10px;
  }

  /* contenitore otto */

  .container8{
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .c8h2{
    border-bottom: 1px solid rgb(208, 208, 211);
    height: 80px;
  }
  
  .c8tendina{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(208, 208, 211);
  }
  
  .c8t{
    display: inline-block;
    line-height: 100px;
  }
  
  .c8scritta{
    width: 80%;
  }
  
  .c8freccia{
    width: 20%;
    font-size: 40px;
  }

  /* terza sezione */
  /* contenitore nove */

  .container9{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    background-color: black;
  }
  
  .container9-2{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: white;
  }
  
  .c9testo1{
    width: calc(100% / 5 - 60px);
    line-height: 40px;
    display: inline-block;
    margin: 30px;
    margin-top: 110px;
  }
  
  hr{
    width: 100px;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
  }
  
  .scritta-finale{
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .special1{
    font-size: 30px;
    vertical-align: sub;
  }
  
  .special2{
    font-size: 25px;
    vertical-align: middle;
  }


  


  






  






  


